body{
    background-image:url(https://wallpapercave.com/wp/VV52xal.jpg); url(https://i.ytimg.com/vi/VX64Ji1mcNo/maxresdefault.jpg);
    
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    backdrop-filter:blur(500px) britness(50px);

}
p~pre{
    color: black;
    background-color: cornflowerblue;

}
p{
  background-color: rgb(63, 201, 116);
  color:black;  
}
h2 li{
  text-decoration-style: dotted;
  text-decoration-line: underline double blue ;
  color: rgb(20, 9, 15);
  text-shadow: rgb(199, 2, 160);

}
details{
  background-color:rgb(86, 12, 1);
  color: rgba(16, 208, 208, 0.432);
}
h2{
  color: rgb(34, 31, 190);
  text-align: center;
  text-decoration: dotted;
  text-decoration-line: underline;
  text-decoration-color: coral;
  text-shadow: rgb(21, 201, 21) 15px 19px 5px;
}

  

