h1{
    color: aqua;
    background-color: azure;
    border-color:blue;
    border-style:dashed;
    border-radius: 0vmax;
    border-top: 0cqb;
    padding: 0rcap;
    

}
h2{
    color: blue;
    background-color: coral;
}
h3{
    color: darkred;
    background-color: cornflowerblue;
}
ul{
    color: crimson;
    background-color: darksalmon;
}
body{
    background-color: darkseagreen;
}
div{
    color: rgb(220, 20, 160);
}